<h1 class="title">COVID-19</h1>
<div class="header">
  <div class ="menu">
    <button mat-button [matMenuTriggerFor]="aboveMenu">Décès</button>
    <mat-menu #aboveMenu="matMenu" yPosition="below">
      <button mat-menu-item>Total de décès</button>
      <button mat-menu-item>décès journaliers</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu">Contaminations</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item>Total de contaminations</button>
      <button mat-menu-item>Contaminations journalières</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="beforeMenu">Vaccinations</button>
    <mat-menu #beforeMenu="matMenu" yPosition="below">
      <button mat-menu-item>Total de vaccinations</button>
      <button mat-menu-item>Vaccinations journalière</button>
    </mat-menu>


    <button mat-button [matMenuTriggerFor]="afterMenu">Bilan hospitalier</button>
    <mat-menu #afterMenu="matMenu" yPosition="below">
      <button mat-menu-item>Hospitalisés</button>
      <button mat-menu-item>Réanimation</button>
    </mat-menu>
  </div>
</div>

<router-outlet></router-outlet>
